.luminaria img{
    width: 125px;
    height: 150px;
}
.luminaria{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}
.luz img{
    width: 100px;
    height: 65px;
}
.luz{
    display:flex;
    justify-content: space-evenly;
    width: 100%;
}